/.properties
/CASBAL001.DDL.properties
/CASHBO006.DDL.properties
/CASUP001.DDL.properties
/CASUSE001.DDL.properties
/CRBACT001.DDL.properties
/CRBADT001.DDL.properties
/CRBESP001.DDL.properties
/CRCLRE001.DDL.properties
/CRD000F.DDL.properties
/CREADD001.DDL.properties
/CREBAL001.DDL.properties
/CRECLA003.DDL.properties
/CRECON004.DDL.properties
/CREGRO001.DDL.properties
/CREMAS001.DDL.properties
/CRENOT001.DDL.properties
/CRERA001.DDL.properties
/CRESTA001.DDL.properties
/CRETER001.DDL.properties
/CRETRA001.DDL.properties
/CRHIWO001.DDL.properties
/CRINTO001.DDL.properties
/CRMABE001.DDL.properties
/CRMACT001.DDL.properties
/CRMAEM001.DDL.properties
/CRMAPU001.DDL.properties
/CRMASU001.DDL.properties
/CRMIWO001.DDL.properties
/CRNAGL001.DDL.properties
/CRSYCT001.DDL.properties
/CRSYCT008.DDL.properties
/CRTRBE001.DDL.properties
/CRTRCL002.DDL.properties
/CRTRRO001.DDL.properties
/CRTRSO002.DDL.properties
/CRTRTY003.DDL.properties
/CRTRTY011.DDL.properties
/CRTRTY014.DDL.properties
/CSH000F.DDL.properties
/DEB000F.DDL.properties
/DEBACT001.DDL.properties
/DEBADD002.DDL.properties
/DEBCAT002.DDL.properties
/DEBCLA002.DDL.properties
/DEBCON001.DDL.properties
/DEBDIA001.DDL.properties
/DEBDIS001.DDL.properties
/DEBFIN001.DDL.properties
/DEBGRO001.DDL.properties
/DEBHIS001.DDL.properties
/DEBIND002.DDL.properties
/DEBINT002.DDL.properties
/DEBMAS001.DDL.properties
/DEBMER001.DDL.properties
/DEBPRO001.DDL.properties
/DEBREG001.DDL.properties
/DEBREP001.DDL.properties
/DEBTER001.DDL.properties
/DEBTRA001.DDL.properties
/DECGDE001.DDL.properties
/DECGRE001.DDL.properties
/DECOTY001.DDL.properties
/DECRCO002.DDL.properties
/DEDEAR001.DDL.properties
/DEDERO001.DDL.properties
/DEDRMA001.DDL.properties
/DEMAAF001.DDL.properties
/DEMABU001.DDL.properties
/DEMABU002.DDL.properties
/DEMACT001.DDL.properties
/DEMADI001.DDL.properties
/DEMAED001.DDL.properties
/DEMALO001.DDL.properties
/DEMAMO001.DDL.properties
/DEMAPO001.DDL.properties
/DEMARE001.DDL.properties
/DEMAST001.DDL.properties
/DEMASU001.DDL.properties
/DEMIWO001.DDL.properties
/DEMIWO002.DDL.properties
/DEMIWO003.DDL.properties
/DERAWO001.DDL.properties
/DESEDI005.DDL.properties
/DESYCT001.DDL.properties
/DESYNO001.DDL.properties
/DETRLI001.DDL.properties
/DETRQU001.DDL.properties
/DETRSO002.DDL.properties
/DEUSCO001.DDL.properties
/DEUSDE001.DDL.properties
/DEUSNO001.DDL.properties
/DEUSNO002.DDL.properties
/IMFICR001.DDL.properties
/JOCAUS005.DDL.properties
/MECRBA001.DDL.properties
/MEDEBA001.DDL.properties
/PARAME005.DDL.properties
/PUREUS001.DDL.properties
/QCCRPL001.DDL.properties
/SQLLICENSE.SQL.properties
/STKUSE001.DDL.properties
/USEACC001.DDL.properties
/USECON001.DDL.properties
/USEIDE001.DDL.properties
/USELOG001.DDL.properties
/USER001.DDL.properties
/USLOHI001.DDL.properties
/ZZCRAC001.DDL.properties
/ZZCRDE001.DDL.properties
/ZZDEAC001.DDL.properties
/ZZDEAD001.DDL.properties
/ZZDECO001.DDL.properties
/ZZDEDE001.DDL.properties
/ZZDEIN001.DDL.properties
/ZZDEMA001.DDL.properties
/ZZDERE001.DDL.properties
/ZZDERE002.DDL.properties
/ZZDETR001.DDL.properties
/ZZTRDE001.DDL.properties
