/.properties
/ERRSRV$$.BND.properties
/ERRSRV@01.RPGLEM.properties
/ERRSRV@02.RPGLEM.properties
/ERRSRV@03.RPGLEM.properties
/ERRSRV@04.RPGLEM.properties
/ERRSRV@05.RPGLEM.properties
/ERRSRV@@.CLLE.properties
