/.properties
/CRD000F@.RPGLEM.properties
/CRD000F_B0.RPGLE.properties
/CRDIOS$$.BND.properties
/CRDIOS@@.CLLE.properties
/CSH000F@.RPGLEM.properties
/CSH000F_B0.RPGLE.properties
/CSHIOS$$.BND.properties
/CSHIOS@@.CLLE.properties
/DDSLICENSE.DDS.properties
/DEB000F@.RPGLEM.properties
/DEB000F_B0.RPGLE.properties
/DEBIOS$$.BND.properties
/DEBIOS@@.CLLE.properties
/IRPVRXXX$$.BND.properties
/IRPVRXXX@0.RPGLEM.properties
/IRPVRXXX@@.CLLE.properties
/LICENSE.RPGLE.properties
/SQLLICENSE.SQL.properties
