/$CRDCLS#035.CPYBK.properties
/$CREDITOR#035.CPYBK.properties
/.properties
/API_EC#035.CPYBK.properties
/CRD000F@#035.CPYBK.properties
/DEB000F@#035.CPYBK.properties
/ERR00#035.CPYBK.properties
/ERR00A#035.CPYBK.properties
/ERR01#035.CPYBK.properties
/ERR02#035.CPYBK.properties
/ERR03#035.CPYBK.properties
/ERR04#035.CPYBK.properties
/ERR05#035.CPYBK.properties
/ERR06#035.CPYBK.properties
/ERR07#035.CPYBK.properties
/ERR072#035.CPYBK.properties
/ERR08#035.CPYBK.properties
/ERR09#035.CPYBK.properties
/ERR10#035.CPYBK.properties
/ERR11#035.CPYBK.properties
/ERR12#035.CPYBK.properties
/ERR13#035.CPYBK.properties
/ERR14#035.CPYBK.properties
/ERR20#035.CPYBK.properties
/ERR21#035.CPYBK.properties
/ERR22#035.CPYBK.properties
/ERR50#035.CPYBK.properties
